.pride__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

.pride {
    background: rgb(156,138,246);
    background: linear-gradient(90deg, rgba(156,138,246,1) 0%, rgba(228,227,245,1) 100%);
}

.pride__figure-text {
    animation: aniCircle 6s infinite;
    animation-delay: 6s;
}

@keyframes aniCircle {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}