@import url(normalize.css);
@import url(header.css);
@import url(mom.css);
@import url(princes.css);
@import url(star.css);
@import url(sdr.css);
@import url(pride.css);
@import url(styl.css);
@import url(kayf.css);
@import url(clay.css);
@import url(footer.css);


html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.container {
    max-width: 550px;
    padding: 0 30px;
    margin: 0 auto;
    white-space: pre-line;
}

section, aside, header, footer {
    padding: 50px 0;
}



